body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Lobster", cursive;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background: url("images/sections/about-us.jpg") repeat center center / cover;
  color: rgb(0, 0, 0);
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background: url("images/footer-bg.jpg") repeat center center / cover;
}

.site-footer {
  background: url("images/footer-bg.jpg") repeat center center / cover;
  background-size: auto 100%;
  padding: 20px 0 22px;
  color: lightgray;
}

.btn-instagram {
  background-color: #ac2bac;
}

.logbtn {
  background-color: #62016b;
}
